/* Seleccion atra vez de etiquetas */
h1 {
    color: blue;
}
/*Seleccion a traves de clases (.) */
.rojo{
    color: red;
}
/*Seleccion atraves de id (#) */
#Verde{
    color: green;
}

/* ----- Sitio de ejemplo ----- */
h1 {
    color: royalblue; /* Color de texto */
}


p {
    text-align: right;
 /* text-aling: Disposicíon del texto - izquierda - centrado - derecha */
}
.is-centered {
   text-align: center;
}


.is-orange {
   color: darkorange;
}
container {
   width: 200px; /* Ancho */
   height: 200px; /* Altura */
   padding: 10px; /* Espacio interno */
}

#avatar {
   width: 150px;
   height: 150px;
   border-radius: 50%; /* Agrega al elemento esquinas redondeadas */
   margin-top: 20px; /* Margen superior (espacio externo) */
   margin-left: 25px; /* Margen izquierdo */
}