* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  
}
  body {
    padding: 40px;
    outline: solid 1px blue;
}

p {
   text-align: left;  /* Alineado a la izquierda */
}

h2 {
   text-align: center;  /* Alineado al centro */
}

h3 {
   text-align: right;  /* Alineado a la derecha */
}

