* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
   text-align: center;
}

.title{
   background-color: #1F8513;
   color: aliceblue;
   display: inline-block;
   height: 100px;
   width: 400px;
   padding: 30px;
}