* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
img {
   height: 150px;
   width: 150px;
}
.Titulo{
   display: flex;
   justify-content: center;
}
.Arriba{
   justify-content: center;
   flex-direction: column;
}
.Contenedor{
   display:flex ;
}