* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.encabezado{
width: 100%;
background-color: grey;
}
.Titulo{
   text-align: center;
color: white;
padding: 15px;
}
.container{
   outline: solid 1px;
   margin: 0 auto;
   width: 900px;
   padding: 20px;
}
.aceptar {
   width: 100px;
   height: 50px;
}

.caja1 {
   margin: 0 auto;
   width: 80%;
   height: 200px;
   background-color: yellow;
}
.parrafo1 {
   font-size: 30px;
}

.link {
   font-size: 500%;
}
.cursiva{
   font-style: italic;
}