* {
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;
}
header{
   text-align: center;
   font-family: 'Roboto', sans-serif;
}
.titulo{
   margin-bottom: 20px;
}
.sinDecoracion{
   text-decoration: none;
   font-weight: bold;
}
.Parafos{
   text-align: center;
}
.container{
   width: 950px;
   margin:0 auto;
}
.caja{
   display: inline-block;
   padding:75px 30px;
   color: white;
   font-weight: bold;
   width: 300px ;
   border-radius: 10px;
}
.azul{
   background-color: #008DD2;
}
.rojo{
   background-color:#EE433A ;
}
.verde{
   background-color:#00C56A ;
}