* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

.container {
   display: flex; /* Activa flexbox en este contenedor */
   justify-content: center; /* Alinear Contenedor*/
   background-color: #f0f0f0;
   padding: 20px;
   flex-wrap: wrap;
}

.item {
   background-color: #00ade5;
   color: #fff;
   margin: 20px;
   padding: 20px;
}
.row{
   flex-direction: row; /* Direccion en filas*/
}
.column{
   flex-direction: column; /* Direccion en filas*/
}
.start{
   justify-content: start; /* Alinear i}zquierda*/
}
.center{
   justify-content: center; /* Alinear al centro*/
}
.space-between{
justify-content: space-between; /* espacio entre ellos*/
}
body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   padding: 20px;
}

.contenedor {
   background: #ffffff;
   padding: 20px;
   border-radius: 10px;
   /* Propiedades flexbox */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
}

.Elemento {
   margin: 10px;
   background-color: #00ade5;
   color: #ffffff;
   padding: 20px;
   border-radius: 10px;
}
