* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  
body {
    padding: 40px;
    outline: solid 1px blue;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

/*  Alineacion de texto*/

.container{
  padding:20px;
}
.textoIzquierda{
   text-align: left;  /* Alineado a la izquierda */
}

.textoCentro {
   text-align: center;  /* Alineado al centro */
}

.textoDerecha {
   text-align: right;  /* Alineado a la derecha */
}
/* Decoracion de texto */
.subtitulo1 {
   text-decoration: underline;  /* Subrayado */
   font-style: italic;  /* Cursiva */
}

.tachado {
   text-decoration: line-through;  /* Texto tachado */
}

.sinDecoracion {
   text-decoration: none;  /* Sin decoración */
    color:black;
}

/* Grosor de fuente */

.negrita {
   font-weight: bold;  /* Negrita */
}

.seminegrita {
   font-weight: 100;  /* Fuente más delgada */
}
